/*
 * _helper-utilities.scss
 * Helper rules accessible globally
 */

$main-text-color: #222;

@mixin square-dimension($size) {
  height: $size;
  width: $size;
}

%thin-border {
  border: 1px solid gray;
}
