/*
 * _navigation-buttons.scss
 * Group of navigation buttons to link to external sites
 */
nav {
  padding: 2px;
  border: 2px dashed #FFF;
  border-radius: 4px;
  position: absolute;
  top: 2px;
  left: -50px;
  display: block;

  ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    height: 32px;
    width: 32px;
    vertical-align: top;
  }
}
