/*
 * Boxes style layout
 *
 * author: Austin S.A. Wang
 */

// bower:scss
// endbower

@import '_grid';

// Generic
body::scrollbar {
  display: none;
}

.page-wrap {
  background-color: lightgrey;
  width: 90%;
  max-width: 860px;
  margin: 0 auto;
  padding: 10px 30px 50px;
  position: relative;
}

body {
  font-family: sans-serif;
  font-size: medium;
  background-color: #333;
  color: #222;
}

// Module base
$moduleHeaderHeight: 22px;

.module {
  background-color: #F1F1F1;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;

  div {
    padding: 10px;
  }
}

[data-header]::before {
  content: attr(data-header-icon) " " attr(data-header);
  background-color: #232323;
  color: #fff;
  padding: 3px 6px 3px;
  height: $moduleHeaderHeight; /* Dependency: #bkg-info {height} - change accordingly */
  width: 100%;
  display: block;
  position: relative;
}

// Header Spec
$headerHeight: 140px;

%caption {
  margin-left: 5px;
}

#info {
  padding: 15px 20px;
  height: $headerHeight;
  color: black;

  h1 {
    font-size: 2.6em;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, .15);
    margin: 0;
  }

  small {
    @extend %caption;
    font-size: 1.2em;
    margin-top: 8px;
    padding-bottom: 2px;
    border-bottom: 4px solid rgba(220, 220, 220, .28);
    box-shadow: 0 2px rgba(0, 0, 0, 0.10);
    display: inline-block;
  }

  address {
    @extend %caption;
    font-size: 0.9em;
    margin-top: 10px;
    font-style: normal;
    display: block;
  }
}

header img {
  height: $headerHeight;
  width: $headerHeight;
  padding: 2px;
  border: 2px dotted white;
  border-radius: 70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  margin: 0 auto;
  display: block;
}
