/* 
 * Boxes style layout
 * 
 * author: Austin S.A. Wang
 */

/* Grid framework */
*, *:after, *:before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.page-wrap:after {
	content: "";
	clear: both;
	display: block;
}

.page-wrap {
	background-color: #CCC;
	width: 90%;
	max-width: 877px;
	margin: 0 auto;
	padding: 10px 20px 10px;
}

.row {
	padding-bottom: 5px
}

.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*='col-'] {
	float: left;
	padding-right: 5px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-2-3 {
	width: 66.66%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-2 {
	width: 50%;
}

/* content */
img[alt="profile picture"] {
	display: block;
	margin: 0 auto 0 auto;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slidein;
	-webkit-animation-timing-function: ease-in-out;	
}

@-webkit-keyframes slidein {
 	0% {
		transform: translateX(150%);
	}
	100%{
		transform: translateX(0%);
	}
}

body {
	background-color: #222;
}

h1, h2, ul, p {
	margin: 0;
}

/* module specific styling */
.module {
	padding: 10px;
	margin: 0;
}

#basic-info {
	background-color: #888;
}

#picture {
	background-color: #88F;
}

.row#skills .module {
	background-color: #848;
}

.row#about .module {
	background-color: #488;
}